// scss-docs-start color-variables
$green: #5db560;

// scss-docs-start theme-color-variables
$primary: #9a6f6f;
$secondary: #fefcdc;
$success: $green;
// scss-docs-end theme-color-variables

// scss-docs-start headings-variables
$headings-font-family: mr-eaves-xl-modern, sans-serif;
$headings-font-style: null;
$headings-font-weight: 700;
$headings-line-height: 1.2;
$headings-color: #707070;
// scss-docs-end headings-variables

// scss-docs-start display-headings
$display-font-sizes: (
  1: 7rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem,
);

$display-font-family: pedestria-mvb, sans-serif;
$display-font-style: bold;
$display-font-weight: 700;
// scss-docs-end display-headings

// scss-docs-start spacer-variables-maps
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 5,
);
// scss-docs-end spacer-variables-maps
