@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.search {
  max-width: 250px;
}

.user-image {
  width: 100%;
  max-width: 50px;
}

.card-text {
  @include font-size(1.5rem);
}

.profile-image {
  max-width: 100px;
}
